variables:
  DB_HOST: auth-db
  DB_PORT: 5432
  DB_USER: postgres
  DB_PASSWORD: 1234
  DB_NAME: authdb
  JWT_SECRET: 53A73E5F1C4E0A2D3B5F2D784E6A1B423D6F247D1F6E5C3A596D635A75327855

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - echo "Building the application..."
    - docker-compose up --build -d

test:
  stage: test
  script:
    - echo "Running tests..."
    - docker-compose run app go test -v ./...

deploy:
  stage: deploy
  script:
    - echo "Deploying the application..."
    - docker-compose up -d