version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - auth-db
    environment:
      - DB_HOST=auth-db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=authdb
      - JWT_SECRET=53A73E5F1C4E0A2D3B5F2D784E6A1B423D6F247D1F6E5C3A596D635A75327855
    networks:
      - localnet

  auth-db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    # networks:
    #   - localnet
    volumes:
      - ./db:/docker-entrypoint-initdb.d/ # скрипт инициализации бд
    command: ["postgres", "-c", "log_statement=all"]

volumes:
  postgres_data:

networks:
  localnet:
    driver: bridge