services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - auth-db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - EMAIL_API_USERNAME=${EMAIL_API_USERNAME}
      - EMAIL_API_PASSWORD=${EMAIL_API_PASSWORD}
    networks:
      - localnet

  auth-db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - localnet
    volumes:
      - ./db:/docker-entrypoint-initdb.d/ # скрипт инициализации бд
    command: ["postgres", "-c", "log_statement=all"]

volumes:
  postgres_data:

networks:
  localnet:
    driver: bridge